.font-24-900 {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1.2px;
}
.font-14-900 {
  font-weight: 900;
  font-size: 14px;
  line-height: 100%;
}
.font-24-500 {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0%;
}

.font-16-500 {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.font-24-300 {
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
}

.font-30-900 {
  font-weight: 900;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
}

.font-14-500 {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

.text-14-400 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
}

.font-16-600 {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.font-24-700 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
}

.font-14-400 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
}
